asyncio
contourpy
cycler
diskcache
flask
fonttools
Jinja2
kiwisolver
llama_cpp_python
markdown2
MarkupSafe
matplotlib
networkx
numpy
packaging
pandas
pillow
pyparsing
PyQt6
PyQt6-Qt6
PyQt6-WebEngine
PyQt6-WebEngine-Qt6
PyQt6_sip
python-dateutil
pytz
qasync
requests
scipy
setuptools
six
typing_extensions
tzdata
waitress
wheel
pyyaml